footer
  .footer.container
    .footer-contact.footer-box
      h2 Mūsų adresas
      ul
        li
          img(src='images/icons/pin.png')
          |  Lyros gatvė 13C, Šiauliai, LT-78268
      ul
        li
          img(src='images/icons/user.png')
          |  Rasita Dragūnienė
        li
          img(src='images/icons/smartphone-gold.png')
          |  +370 650 22483
        li
          img(src='images/icons/send-gold.png')
          |  rasita@rdsiuvykla.lt
      ul
        li
          img(src='images/icons/user.png')
          |  Daiva Tarvydaite Znakoviene
        li
          img(src='images/icons/smartphone-gold.png')
          |  +370 650 22483
        li
          img(src='images/icons/send-gold.png')
          |  daiva@rdsiuvykla.lt
    .footer-duk.footer-box
      h2 D.U.K
      ul
        li
          a(href='')
            img(src='images/icons/arrow.png')
            |  Kiek laiko trunka kursai?
        li
          a(href='')
            img(src='images/icons/arrow.png')
            |  Kokia kursų kainą?
        li
          a(href='')
            img(src='images/icons/arrow.png')
            |  Kaip pasirinkti tinkamą kursą?
        li
          a(href='')
            img(src='images/icons/arrow.png')
            |  Kokias siuvimo paslaugas teikiate?
        li
          a(href='')
            img(src='images/icons/arrow.png')
            |  Kokias rūbų taisymo paslaugas teikiate?
        li
          a(href='')
            img(src='images/icons/arrow.png')
            |  Kaip galiu užsisakyti jūsų pasiūtus rūbelius?
        li
          a(href='')
            img(src='images/icons/arrow.png')
            |  Ar siunčiate į kitus Lietuvos miestus?
    .footer-follow.footer-box
      h2 Sekite mus
      ul
        li
          a(href='https://www.facebook.com/RDSiuvykla.lt/', target="_blank")
            img(src='images/icons/fb-black.png')
        li
          a(href='https://www.instagram.com/rdsiuvykla/', target="_blank")
            img(src='images/icons/instagram-black.png')

script(src='javascripts/menu.js')

