section#connect
  .connect-container.container
    ul.connect-contacts
      li
        a(href='#')
          img(src='images/icons/smartphone.png')
          |  +370 650 22483
      li
        a(href='mailto:info@rdsiuvykla.lt')
          img(src='images/icons/send.png')
          |  info@rdsiuvykla.lt
    h1.connect-logo Rdsiuvykla
    ul.connect-social
      li
        a(href='https://www.facebook.com/RDSiuvykla.lt/', target="_blank")
          img(src='images/icons/fb-white.png')
      li
        a(href='https://www.instagram.com/rdsiuvykla/', target="_blank")
          img(src='images/icons/instagram.png')
nav
  button#hamburger-btn  
  #nav-container
    ul#links
      li
        a(href='/')  Pagrindinis
      li
        a(href='/#about-container')  Apie Mus
      li
        a(href='/#courses-container')  Kursai
      li
        a(href='/galerija')  Galerija
      li
        a(href='/kontaktai')  Kontaktai
 

header
  .header-text-container.container
    h1 SIUVIMO KURSAI
    h2 Siuvimo kursai pradedantiesiems
    p Siuvimo kursai pagal programą pradedantiesiems yra skirti nemokantiems siūti...
    a.btn.courses-btn(href='/registruokis') REGISTRUOKIS
