extends layout


block content
    include includes/header.pug
    .heading.container
        .line
        h1.h1-heading Galerija
        .line
    .gallery-images
        a(href='images/gallery/siuveja-rasita-v4.jpg', data-lightbox='mygallery', data-title='Siuvėja Rasita')
            img(src='images/gallery/thumb/1.png', alt='')
        a(href='images/gallery/siuveja-rasita-v2.jpg', data-lightbox='mygallery', data-title='Siuvėja Rasita ')
            img(src='images/gallery/thumb/2.png', alt='')
        a(href='images/gallery/siuveja-rasita-v3.jpg', data-lightbox='mygallery', data-title='Siuvėja Rasita ')
            img(src='images/gallery/thumb/3.png', alt='')
        a(href='images/gallery/siuveja-rasita-v.jpg', data-lightbox='mygallery', data-title='Siuvėja Rasita ')
            img(src='images/gallery/thumb/4.png', alt='')
        a(href='images/gallery/siuveja-rasita-v1.jpg', data-lightbox='mygallery', data-title='Siuvėja Rasita ')
            img(src='images/gallery/thumb/5.png', alt='')
        a(href='images/gallery/siuveja-daiva-v2.jpeg', data-lightbox='mygallery', data-title='Siuvėja Daiva ')
            img(src='images/gallery/thumb/6.png', alt='')
        a(href='images/gallery/siuveja-daiva-v3.jpeg', data-lightbox='mygallery', data-title='Siuvėja Daiva  ')
            img(src='images/gallery/thumb/7.png', alt='')
        a(href='images/gallery/siuveja-daiva-v1.jpeg', data-lightbox='mygallery', data-title='Siuvėja Daiva  ')
            img(src='images/gallery/thumb/8.png', alt='')
        a(href='images/gallery/siuveja-daiva-v.jpeg', data-lightbox='mygallery', data-title='Siuvėja Daiva  ')
            img(src='images/gallery/thumb/9.png', alt='')
        a(href='images/gallery/siuveja-rasita-v5.jpg', data-lightbox='mygallery', data-title='Siuvėja Rasita ')
            img(src='images/gallery/thumb/10.png', alt='')
        a(href='images/gallery/siuveja-rasita-v11.jpg', data-lightbox='mygallery', data-title='Siuvėja Rasita ')
            img(src='images/gallery/thumb/11.png', alt='')

    include includes/footer.pug