doctype html
html
  head
    title RDsiuvykla.lt
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/lightbox.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='javascripts/lightbox-plus-jquery.min.js')
  body
    block content
