extends layout


block content
    include includes/header.pug
    .heading.container
        .line
        h1.h1-heading Siuvimo Paslaugos
        .line
    .sewing-services-container.container
        p| Teikiame siuvimo paslaugas pagal individualius užsakymus. Dėl išsamesnės informacijos ir kainų susisiekite su mumis!

    include includes/footer.pug